*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: white;
}

.header{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) , url("images/background.png")  ;
    background-size: cover;
    background-position: center;
    padding: 25px 11.5%;
    position: relative;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    pad: 10px 0;

}
.logo
{
    width: 145px;
    cursor: pointer;
   
}
nav button
{
    border: 0;
    outline: 0;
    background: #db0001;
    color: white;
    padding: 7px 25px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight:550;

    

}
.language-btn
{
    display: inline-flex;
    align-items: center;
    background:#121212c0;;
    border: 1.5px solid rgb(79, 78, 78);
    padding: 7px 25px;
    
    

}
.language-btn img{
    width: 10px;
    margin-left: 10px;
    
    
}
.header-content
{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
    margin-top: 60px;
}

.header-content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
    max-width: 100%;
    text-align: center;

}
.header-content h3 {
    font-weight: 400;
    margin-bottom: 25px;
    font-size: 20px;
    
}
.header-content p{

    font-weight: 400;
    margin-bottom: 25px;
    font-size: 20px;
}

.email-signup
{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    background: transparent;
    gap: 15px;
    justify-content: center;



}
.email-signup input
{
   
    align-items: center;
    background:#121212c0;
    border: 1.7px solid rgb(84, 82, 82);
    padding: 15px ;
    padding-right: 100px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    

}
.email-signup button
{
    background: #db0001;
    border-radius: 4px;
    border-color: black;
    align-items: center;
    border: 0;
    outline: 0;
    color: white;
    font-size: 1.3rem;
    font-weight:bold;
    width: auto;
    height:50px;
    cursor: pointer;
    margin: 0 0 0 8px;
    padding:12px 24px ;
    text-align: center;
}

.features1
{
    padding: 15px 12%;
    font-size: 22px;
    border-top: 10px solid rgb(27, 26, 26);

}
.row
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
    

}
.text-col
{
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col
{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img
{
    display: block;
    width:90% ;
    margin: auto;
}
.features1 h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}

.features2
{
    padding: 15px 12%;
    font-size: 22px;
    border-top: 10px solid rgb(27, 26, 26);

}
.features2 h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.faq
{
     padding: 10px 12%;
     text-align: center;
     font-size: 18px;
     border-top: 10px solid rgb(27, 26, 26);

}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}

.accordion
{
    margin: 30px auto;
    width: 100%;
    max-width: 1200px;

}

.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;

}
.accordion li label
{
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background:#303030;
    margin-bottom: 2px;
    cursor: pointer;
} 

 label::after
{
    content:'+' ;
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s ;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content
{
    max-height: 600px;
    padding:30px 20px;
} 
.accordion input[type="radio"]:checked + label::after
{
    transform: rotate(135deg);
}

.faq .email-signup
{
    max-width: 600px;
    margin: 20px auto 60px;
    justify-content: center;


}
.faq small
{
    font-size:20px ;
}

            /* footer  */
.footer
{

    
    
    padding: 50px 15px 10px;
    border-top: 10px solid rgb(27, 26, 26);
    color: #ffffffb3;

}
.footer h2{
    
    font-size:18px ;
    font-weight: 400;
    margin-bottom: 25px ;
    margin-left:11.5%;
}
 
.footer .col
{
    flex-basis: 25px;
    flex-grow: 1;
    margin-bottom:20px 
    ;
}
.footer .col a{
    display:block;
    text-decoration: none;
    color: #ffffffb3;
    font-size: 14px;
    margin-bottom: 10px;

}
.footer .row{
    align-items: flex-start;
    padding: 10px 11%;
    

    
}

.footer .language-btn
{
    color: white;
    display: inline-flex;
    align-items: center;
    background:#121212c0;;
    border: 1.5px solid rgb(79, 78, 78);
    padding: 8px 25px;
    font-size: 1.1rem;
    border-radius: 2px;
   margin-left: 11.1%;
    
}

.copyright-text
{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 11%;

}